@import "public/styles";
@import "public/styles/colors";
@import "shared/styles/templates";
@import "shared/styles/variables";

:root {
  --index: calc(1vw + 1vh); // Используется для адаптивности шрифта (например) при изменении размеров экрана
  --FontFamily: 'Lato', Helvetica, Arial, -apple-system,
  system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', sans-serif;
}

html {
  @extend %text--16;
  box-sizing: border-box;
  font-family: var(--FontFamily);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  width: 100%;
  height: 100%;
  background-color: var(--Color--Bckground--root);
  color: var(--Color--Text--root);

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}


button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

svg {
  width: 100%;
}
