:root {
  --Color--root: #151010;
  --Color-Bckground--root: #151010;
}

[data-theme='default1']{
  --Color-Bckground--root: #151010;
  --Color-Text--root: var(--Color--root)
}

[data-theme='default']{
  --Color-Bckground--root: #151010;
  --Color-Text--root: var(--Color--root)
}

[data-theme='red']{
  --Color-Bckground--root: #151010;
  --Color-Text--root: var(--Color--root)
}

[data-theme='orange']{
  --Color-Bckground--root: #151010;
  --Color-Text--root: var(--Color--root)
}
