@import "src/styles";

.DrawerBar {
  width: var(--drawer-bar--min-width);
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: rem(55);
  border-top-left-radius: rem(55);
  background: var(--Color-Background--light);
  justify-content: center;
  transition: .5s;

  svg {
    transition: .5s;
  }

  &--active {
    width: var(--drawer-bar--width);
    transition: .5s;

    .DrawerBar-Change {
      svg {
        transform: rotate(180deg);
        transition: .5s;
      }
    }
  }

  &-Change {
    width: rem(25);
    height: rem(150);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: rem(-20);
    background: var(--Color-Background--light);
    border-bottom-left-radius: 50%;
    border-top-left-radius: rem(55);
    clip-path: polygon(0% calc(100% - 80%), 100% 0%, 100% 100%, 0% 80%);

    & svg {
      fill: var(--Color-Icon--grey);
    }
  }
  /*
  * css проверяем на наличие родителя
  * Т.е. есть ли у picture &-Img
  * Статья про has - https://habr.com/ru/post/662355/
  */
  picture:has(&-Img) {
    z-index: -1;
  }
}
