@import "public/styles";
@import "shared/styles";

.DrawerBar {
  grid-area: drawer-bar;
  display: flex;
  flex-direction: column;
  padding: $paddingComponent;
  height: 100vh;
  border-bottom-left-radius: rem(55);
  border-top-left-radius: rem(55);
  overflow: hidden;
  border: rem(7) solid var(--Color-border);
  border-right: 0;
  /*
  * css проверяем на наличие родителя
  * Т.е. есть ли у picture &-Img
  * Статья про has - https://habr.com/ru/post/662355/
  */
  picture:has(&-Img) {
    z-index: -1;
  }

  &-Img {
    opacity: 0.4;
    filter: blur(8px);
  }
}
