@import "public/styles";
@import "shared/styles";


.Popup {
  z-index: 99;
  display: flex;

  &-Button {
    position: relative;
    //& > *[data-x-placement]{
    //  -webkit-clip-path: polygon(0 0, 0% 100%, 36% 49%);
    //  clip-path: polygon(0 0, 0% 100%, 36% 49%);
    //}
  }
}
