@import "src/styles";

$close-btn-height: 30;
$inner-container-margin-top: 10;
$padding-main-elements: 10;

.Chat {
  width: 100%;
  height: 100%;
  padding: rem(10);
  background: rgb(71, 73, 107);
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-element;
  overflow: hidden;


  &-ModalCloseBtn {
    @include modal-close-btn();
    margin-left: auto;
  }

  &-Inner {
    width: 100%;
    height: calc(100% - #{rem($close-btn-height + $inner-container-margin-top)});
    border: rem(1) solid var(--Color-Border--grey);
    border-radius: $border-radius-small;
    margin-top: rem($inner-container-margin-top);
    background: var(--Color-Background--light--90);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-Info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: rem($padding-main-elements);
    border-bottom: rem(.5) solid var(--Color-Border--light-30--opacity-05);

    &UserContainer {
      margin: auto;
      display: flex;
      align-items: center;
      gap: rem(30);
      fill: var(--Color-Icon--light);
    }
    &MenuList {
      //margin-left: auto;
      fill: var(--Color-Icon--light);
      cursor: pointer;
    }
  }

  &-MessageContainer {
    @include scrollbar(transparent, var(--Color-Background--light--60));
    min-height: 50%;
    width: 100%;
    flex: 1 1 100%;
    overflow-y: auto;
    padding: rem($padding-main-elements);
    gap: rem(20);
    display: flex;
    flex-direction: column;
  }

  &-PrintActions {
    &Form {
      border-top: rem(0.5) solid var(--Color-Border--light-30--opacity-05);
      padding: rem($padding-main-elements);
      width: 100%;
      max-height: calc(45% - #{rem($padding-main-elements)});
      align-self: end;
      display: flex;
      justify-content: space-between;
      gap: rem(10);
      align-items: flex-end;
      fill: var(--Color-Icon--light);
    }

    &AddMessageField {
      flex: 1 1 auto;
      max-height: 100%;
      max-width: 100%;
      border-radius: rem(5);
      padding: 0 rem(10);
    }
    &AddMessageInput {
      min-height: rem(25);
    }
  }

}

.Message {
  max-width: 80%;
  background: var(--Color-Bckground--Message);
  display: flex;
  color: var(--Color-Bckground--app);
  padding: $padding-component;
  border-radius: $border-radius-element;

  &--where {
    &_from {
      align-self: flex-start;
    }
    &_me {
      align-self: flex-end;
    }
  }

  &-TextMessage {
    width: fit-content;
  }
  &-PrevMessageInfo {
    display: flex;
    flex-direction: column;
    padding-left: rem(5);
    border-left: rem(4) solid var(--Color-Bckground--app);
    max-width: 100%;

    :nth-child(2){
      @include text-ellipsis;
      max-width: 100%;
    }
  }
}