@import "public/styles";
@import "shared/styles";
@import "../../../App/App.module";


.Footer {
  $this: &;
  display: flex;
  flex-direction: column;
  background: var(--Color-Bckground--dark);
  width: 100%;
  padding: $paddingComponent;
  max-height: rem(150);
  transition: .5s;
  border-bottom-left-radius: rem(55);
  margin-top: auto;

  &--open {
    max-height: 70%;
    transition: .5s;

    & #{$this}-ChatsContainer {
      scroll-snap-type: y mandatory;
    }
  }

  &-Title {
    @include flex($justify: space-between);
    cursor: pointer;
  }

  &-ChatsContainer {
    @include hideScrollbar();
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s;
    gap: rem(25);
    margin-top: rem(15);
  }
}
