@import "public/styles";


.Footer {
  $this: &;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--Color-Bckground--dark);
  margin: var(--paddingComponent);
  margin-right: 0;
  max-height: rem(150);
  transition: .5s;
  border-bottom-left-radius: rem(55);
  margin-top: auto;
  overflow: hidden;

  &--open {
    max-height: 70%;
    transition: .5s;

    & #{$this}-ChatsContainer {
      scroll-snap-type: y mandatory;
    }
  }

  &-Title {
    display: flex;
    justify-self: start;
    padding: var(--paddingComponent);
  }

  &-ChatsContainer {
    @include hideScrollbar();
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s;
    gap: rem(25);
    margin-top: rem(15);
    padding-left: var(--paddingComponent);
  }

  &-ToggleOpenChats {
    fill: var(--Color-Icon--light);
    justify-self: center;
    cursor: pointer;
    transition: .5s;
    margin: auto;

    &--open {
      transform: rotate(180deg);
      transition: .5s;
    }
  }
}
