@use 'public/styles/lib/templates' as * ;
@use 'public/styles/lib/variables' as * ;
@use 'public/styles/functions' as *;
@use 'public/styles/mixins' as *;


.Base {
  position: relative;
  width: 100%;

  &-Img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
