@import "src/styles";

.TextInput {
  $This: &;
  &-Area {
    @include area-input;
  }
  &-Input {
    @include text-input;

    &--error {
      /* stylelint-disable-next-line declaration-no-important */
      border-color: var(--Color-Error) !important;
    }
  }

  &-TextIconContainer {
    position: relative;
    gap: rem(10);

    &:hover #{$This}-IconClear {
      opacity: 1;
    }

  }
  &-Icon {
    @include icon-fill('grey');
    height: 100%;
  }

  &-IconClear {
    @include icon-fill('grey');
    position: absolute;
    max-height: 70%;
    right: 0;
    opacity: 0;
  }
}
