@import "src/styles";

.TextInput {
  &-Area {
    @include area-input;
  }
  &-Input {
    @include text-input;

    &--error {
      /* stylelint-disable-next-line declaration-no-important */
      border-color: var(--Color-Error) !important;
    }
  }

  &-TextIconContainer {
    gap: rem(10);
  }
  &-Icon {
    @include icon-fill('grey');
    height: 100%;
  }
}
