@import "public/styles";


.Main {
  width: 100%;
  max-width: calc(100% - (var(--nav-bar--width) + var(--drawer-bar--min-width)));
  @include hideScrollbar();
  padding: var(--paddingComponent);
  position: relative;
  overflow-y: auto;
}
