@use 'sass:list' as list;
@import "@public/styles";
@import "../variables";


@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
 * Из списка размеров шрифтов создаются шаблоны для дальнейшего использования
 * Формат text--14, text--24, text--36 и тд
 */
@each $name, $sizes in $text-sizes-adaptive {
  $min: list.nth($sizes, 1);
  $size: list.nth($sizes, 2);
  $lh: list.nth($sizes, 3);

  %text--#{$name} {
    @include create-fontsize($min, $size, $lh);
  }
}

