[data-theme='default']{
  --Color--Text--root: #bca9a9;

  --Color-Text-Main: #685959;

  --Color--Bckground--root: #151010;
  --Color-Background-App: rgba(255 255 255 / 12%);
  --Color-border: var(--Color-Background-App);
  --Color-Background-Sub: orange;
  --Color-Status-Offline: red;
  --Color-Status-Online: green;
  --Color-Background-icon: grey;
}

[data-theme='red']{
  --Color--Text--root: red;
  --Color--Bckground--root: #151010;
}

[data-theme='orange']{
  --Color--Text--root: orange;
  --Color--Bckground--root: #151010;
}
