[data-theme='default']{
  --Color--Text--root: #615f5f;
  --Color--Bckground--root: #151010;
}

[data-theme='red']{
  --Color--Text--root: red;
  --Color--Bckground--root: #151010;
}

[data-theme='orange']{
  --Color--Text--root: orange;
  --Color--Bckground--root: #151010;
}
