@import "../../(styles)";

.Attachment {
  margin-bottom: rem(5);

  &-Icon {
    fill: var(--SOCIAL--Color-Text-System);
  }

  &-Name {
    //@extend textEllipsis;
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }
}
