@import "public/styles";
@import "shared/styles";



.Icon {
  flex-shrink: 0;

  &--fill {

    &_oldAsphalt40 {
      fill: var(--Color-Bckground--root);
    }
  }

  &--size {

    &_small {
      width: rem(10);
      height: rem(10);
    }
    &_ordinary {
      width: rem(16);
      height: rem(16);
    }

    &_medium {
      width: rem(25);
      height: rem(25);
    }

    &_large {
      width: rem(30);
      height: rem(30);
    }
  }
}
