@import "public/styles";
@import "shared/styles";

$nav: clamp(rem(100), 20%, rem(250));
$drawer-bar: clamp(rem(100), 30%, rem(350));

.Application {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--Color-Background-App);
  overflow: hidden;
  display: grid;
  grid-template: [start] "nav main drawer-bar" 100% [end] / $nav calc(100% - ($nav + $drawer-bar)) $drawer-bar; //40vw - ширина первой строки auto - ширина второй строки
}
