@use 'public/styles/lib/templates' as * ;
@use 'public/styles/lib/variables' as * ;
@use 'public/styles/functions' as *;
@use 'public/styles/mixins' as *;


.ButtonBox {
  display: flex;

  padding: 0;
  margin: 0;

  cursor: pointer;

  border: none;
  background: none;

  white-space: nowrap;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
