@import "public/styles";
@import "shared/styles";


.Search {
  overflow: hidden;
  padding-top: 0;

  &-Input {
    background: var(--Color-Bckground--dark);
    width: 100%;
    height: rem(50);
    color: var(--Color-Text--primary);

    input {
      border: 0;
    }
  }
}
