@import "public/styles";


.Search {
  overflow: hidden;
  margin: 0 var(--paddingComponent);
  border-radius: rem(55);
  background: var(--Color-Bckground--dark);

  &-Input {
    width: 100%;
    height: rem(50);
    fill: var(--Color-Icon--light);

    input {
      border: 0;
      color: var(--Color-Text--primary);
    }
  }
}
