@import "public/styles";
@import "shared/styles";


.ButtonsList {
  @include flex($direction: column);
  flex: 1 1;
  margin-top: rem(50);

  &-Button {
    @include flex($align-items: center);
    width: 100%;
    padding: rem(20);
    gap: rem(20);
    color: var(--Color-Text--primary);
    fill: var(--Color-Icon--light);
    border-radius: $border-radius-element;
    transition: .5s;

    &--active {
      background: var(--Color-Bckground--dark);
      color: var(--Color-Text--red);
      fill: var(--Color-Icon--red);
    }

    &:not(&--active):hover {
      background: var(--Color-Background--light);
      transition: .3s;
    }
  }

  &-ButtonText {
    margin-right: auto;
  }
}
