@import "../../(styles)";

.Main {
  width: 100%;
  max-width: calc(100% - ($nav-bar--width + $drawer-bar--min-width));
  @include hideScrollbar();
  padding: $padding-component;
  position: relative;
  overflow-y: auto;
}


.Video {
}

.Photo {
}

.Album {
  //@extend %img-container;
  @include wh(clamp(rem(400), 45%, 100%), rem(400));
  border-radius: $border-radius-album;
  padding: rem(40);
  position: relative;
  z-index: 1;

  &-Preview {
    @include wh(clamp(rem(200), 60%, rem(400)), 100%);
    @include flex($direction: column);
    border-radius: $border-radius-album;
    padding: rem(25);
    backdrop-filter: blur(5px);
  }

  &-ButtonOpen {
    z-index: 1;
    @include flex($justify: space-between, $align-items: center);
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: $border-radius-album;
    padding: rem(10);
    margin-top: auto;

    &Title {
      transform: translateX(rem(20));
    }
  }

  &:hover &-Hover{
    opacity: 1;
    transition: .5s;
  }

  &-Hover {
    @include flex($justify: center, $align-items: center);
    padding: rem(10);
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
    position: absolute;
    right: 10%;
    bottom: 15%;
  }
}

.MediaItem {
  height: rem(250);
  width: rem(250);
  position: relative;
  z-index: 1;

  &:hover &-Buttons {
    opacity: 1;
    transition: .5s;
  }

  &-Buttons {
    @include flex($direction: column-reverse);
    opacity: 0;
    background: var(--Color-Background-App);
    color: var(--Color-Text-Sub-2);
    border-radius: $border-radius-small;
    gap: rem(10);
    padding: rem(15);
    transition: .3s;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

}

.SectionContainer {
  @include flex($direction: column);
  gap: rem(20);
  padding-bottom: rem(20);
  border-bottom: rem(1) solid var(--Color-Background-Sub);

  &-Title {
    @include flex($align-items: center);
    gap: rem(20);
    position: sticky;
    top: rem(-30);
    z-index: 2;
    background: var(--Color-Background-App);
  }

  &-Calendar {
    @include flex($align-items: center);
    gap: rem(10);

    &Icon {
      @include flex($align-items: center, $justify: space-between);
      @include wh(rem(30), rem(30));
      padding: rem(3);
      padding-left: rem(7);
      border: rem(1) solid var(--Color-Background-Sub);
      border-radius: $border-radius-small;
    }
  }

  &-Content {
    @include flex($wrap: wrap);
    align-content: start;
    gap: rem(20);
  }
}