@import "public/styles";
@import "shared/styles";



.FriendsList {
  @include hideScrollbar();
  display: flex;
  flex-direction: column;
  @include flex($direction: column);
  flex: 1 1;
  //padding: $paddingComponent;
  overflow-y: auto;
  padding-top: 0;

}
