@import "public/styles";


.FriendsList {
  @include hideScrollbar();
  display: flex;
  flex-direction: column;
  @include flex($direction: column);
  flex: 1 1;
  margin: var(--paddingComponent);
  overflow-y: auto;

}
