@import "public/styles";
@import "shared/styles";


.AreaInput {
  @include flex();
  height: fit-content;
  flex: 1 1 100%;
  padding: rem(10);
  position: relative;

  &-Input {
   @extend %area-input;
  }

  &-IconClear {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
